@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #181818;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-top: 80px !important;
    }

    
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 20px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: #08e2ff;
    font-weight: 900;
    font-size: 26px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: all 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 100%;
    opacity: 1;
    right: 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .nav-item:first-child {
        margin-top: 20px;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-between;
    }
}

.nav-list {
    display: flex;
    gap: 14px;
    list-style: none;
}

.nav-item {
    position: relative;
}

.hide {
    top: -100px; /* Или любое другое значение, чтобы скрыть хедер */
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
        z-index: 10000;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; /* Изменяем на колонку для бокового меню */
        background-color: #000000;
        position: fixed; /* Фиксируем меню */
        top: 0;
        right: -250px; /* Скрываем за пределами экрана */
        width: 250px; /* Ширина меню */
        height: 100%; /* Высота на весь экран */
        transition: right 0.3s ease; /* Анимация */
        z-index: 999; /* Указываем z-index */
        border-left: 2px solid #ffffff;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-link-underline {
        border: none;
    }
}

@media (max-width:426px) {
    
    .burger-line{
        background-color: rgb(255, 255, 255);
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .nav-list{
        top: 0;
    }
    
}

.footer {
    background-color: rgb(0, 0, 0);
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
}

.footer-details {
    margin-bottom: 15px; /* Space between brand and links */
}

.footer-links {
    margin-bottom: 15px; /* Space below links */
}

.footer-links a {
    color: #ffffff; /* White color for links */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between links */
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 400;
}

.footer-rights {
    font-size: 14px; /* Similar size for rights statement */
    margin-top: 15px; /* Space above this statement */
}
.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contact-footer {
    color: white;
    transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    
    .footer-links {
        flex-direction: column; /* Stack links vertically on smaller screens */
        align-items: center; /* Center links */
    }
    
    .footer-links a {
        margin: 5px 0; /* Space between stacked links */
    }
}

.privacy-content {
    margin-top: 140px;
    margin-bottom: 40px;
}
.privacy-policy {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.policy-title {
    font-size: 2em;
    color: #333;
    text-align: center;
}

.last-updated {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.section-heading {
    font-size: 1.5em;
    color: #007bff;
    margin-top: 20px;
}

.terms-priv-mail{
    color: #007bff;
    transition: all 0.3s ease;
}

.policy-text {
    font-size: 1em;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.info-list {
    margin-left: 20px;
    list-style-type: disc;
}

.contact-email {
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 768px) {
    .privacy-policy {
        padding: 15px;
    }

    .policy-title {
        font-size: 1.8em;
    }

    .section-heading {
        font-size: 1.3em;
    }
}

.terms-content {
    margin-top: 140px;
    margin-bottom: 40px;
}
.terms-conditions {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.terms-title {
    font-size: 2em;
    color: #333;
    text-align: center;
}

.last-updated {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.section-heading {
    font-size: 1.5em;
    color: #007bff;
    margin-top: 20px;
}

.terms-text {
    font-size: 1em;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.info-list {
    margin-left: 20px;
    list-style-type: disc;
}

.contact-email {
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 768px) {
    .terms-conditions {
        padding: 15px;
    }

    .terms-title {
        font-size: 1.8em;
    }

    .section-heading {
        font-size: 1.3em;
    }
}

.hero-section {
    margin-top: -50px;
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgb(15,104,115);
    background: linear-gradient(90deg, rgba(15,104,115,1) 0%, rgba(0,0,0,1) 66%, rgba(27,102,101,1) 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    padding: 10px;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 10px;
    margin: 0;
}

.hero-button {
    padding: 10px 20px;
    background-color: #0fcbe3;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.hero-button-2 {
    padding: 10px 20px;
    background-color: transparent;
    color: #0fcbe3;
    border: 2px solid #0fcbe3;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.hero-btn-content {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2em;
    }

    .hero-subtitle {
        font-size: 1.2em;
    }

    .hero-button {
        padding: 8px 16px;
    }
    .hero-btn-content {
        gap: 10px;
    }
}

.featured-games {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.featured-title {
    font-size: 2em;
    color: #00e1ff;
    margin-bottom: 10px;
}

.featured-description {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 30px;
}

.featured-games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured-game-card {
    background-color: #000000;
    border-radius: 8px;
    width: 30%; /* 30% for large screens */
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.featured-game-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; /* Round the top corners of the image */
}

.featured-game-title {
    font-size: 1.5em;
    color: #00e1ff;
    margin: 10px 0;
}

.featured-game-description {
    font-size: 1em;
    color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .featured-game-card {
        width: 90%; /* Full width on small screens */
        margin: 10px auto; /* Center the cards */
    }
}

























@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: #ffffff;
    }
    .nav-link:hover {
        color: #08e2ff;
    }
    .footer-links a:hover {
        color: #08e2ff;
    }
    .contact-footer:hover {
        color: #08e2ff;
    }
    .terms-priv-mail:hover{
        text-decoration: underline;
    }
    .hero-button:hover {
        background-color: #00e1ff;
    }
    .hero-button-2:hover {
        color: white;
        border: 2px solid white;
    }
    .featured-game-card:hover {
        transform: scale(1.05); /* Add a hover effect */
    }
}